#
# ZXDOS++
#

# Clock ###########################################################################################

NET clock50     LOC="A10" | IOSTANDARD=LVCMOS33 | TNM_NET="clock50";
TIMESPEC "TS_clock50"=PERIOD "clock50" 20.0 ns HIGH 50%;

# Led #############################################################################################

NET led<0>         LOC="R9"  | IOSTANDARD=LVCMOS33 | SLEW=FAST ; # 
NET led<1>         LOC="T9"  | IOSTANDARD=LVCMOS33 | SLEW=FAST ; # 

###################################################################################################
NET SDRAM_A<0>     LOC="L4"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<1>     LOC="M3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<2>     LOC="M4"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<3>     LOC="N3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<4>     LOC="R2"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<5>     LOC="R1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<6>     LOC="P2"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<7>     LOC="P1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<8>     LOC="N1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<9>     LOC="M1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<10>    LOC="L3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<11>    LOC="L1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_A<12>    LOC="K1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<0>     LOC="A3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<1>     LOC="A2"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<2>     LOC="B3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<3>     LOC="B2"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<4>     LOC="C3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<5>     LOC="C2"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<6>     LOC="D3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<7>     LOC="E3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<8>     LOC="G1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<9>     LOC="F1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<10>    LOC="F2"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<11>    LOC="E1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<12>    LOC="E2"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<13>    LOC="D1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<14>    LOC="C1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQ<15>    LOC="B1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQML        LOC="F3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_DQMH        LOC="H2"  | IOSTANDARD = LVCMOS33;
NET SDRAM_BA<0>       LOC="K3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_BA<1>       LOC="K2"  | IOSTANDARD = LVCMOS33;
NET SDRAM_nWE         LOC="G3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_nCAS        LOC="H3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_nRAS        LOC="J4"  | IOSTANDARD = LVCMOS33;
NET SDRAM_nCS         LOC="J3"  | IOSTANDARD = LVCMOS33;
NET SDRAM_CLK         LOC="H1"  | IOSTANDARD = LVCMOS33;
NET SDRAM_CKE         LOC="J1"  | IOSTANDARD = LVCMOS33;
